<div class="single-beer">
    <div class="image">
        <img src={{this.image_url}}>
    </div>

    <div class="info">
        <h1>{{ this.name }}</h1>
        <p>{{ this.description }}</p>
    </div>
</div>