<div class="flex-column">
    <img src="/images/beer.png" width="300">
    <a href="/beers"><button class="blue">Check the Beers!</button></a>
    <a href="/beers"><button class="blue">Check a random Beer!</button>
</div>